<div id="member-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3> <%= member.user.first_name + ' ' + member.user.last_name.upcase %> </h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div>
         <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis quis hic odio, adipisci inventore blanditiis quia at! Optio, amet, sapiente. Veritatis dolorem voluptate quos, recusandae similique, repellendus eius maiores!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptas eaque, quos error in omnis repellat, esse deserunt. Nostrum non necessitatibus amet aliquam nulla dignissimos doloremque quod sapiente dolor recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dicta aperiam velit cumque animi accusantium, repellendus, nesciunt enim veritatis eveniet assumenda dolore voluptatum, nam, nulla in architecto delectus ipsam. Maiores? </p>
      </div>
    </div>
  </div>
</div>
