// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #686963;
$light-gray: #F4F4F4;
$dark-gray: #333232;
$medium-gray: #939ea8;



// Colorhunt:
$my-white: #FAFAFA;

$my-orange: #f54829;
$my-light-orange: #f58029;
//$my-light-blue: #1aa8f9;
$my-dark-blue: #086194;
$my-light-blue: #086194; // same blue as my dark-blue

// DO NOT USE: Original-orange:
// $my-orange: #f54829;
// $my-light-blue: #8EA604;
// $my-dark-blue: #007519;

// DO NOT USE: Yellow-Lionel-weekend
// $my-orange: #ffc300;/
// $my-light-orange: #ffce2e;
// $my-light-blue: #40b1f1;
// $my-dark-blue: #086194;


