body {
  color: $gray;
}

h3, h4, h5, h6 {
  color: $my-light-blue;
  font-weight: 400;
}

h1, h2 {
  color: $my-dark-blue;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.container-wim {
  min-height: calc(100vh - 160px);
}
