.photo-card {
  width:250px;
  p {
    margin: 0px 0px 12px 0px;
  }
  padding: 30px;
}

.sticky-profile {
  position:sticky;
  top: 50px;
  height: 300px;
}

.details-card {
  padding: 30px;
  p {
    margin: 0px 0px 12px 0px;
  }
  i {
    color: $my-orange;
  }
  line-height: 1;
}
