.photo-card {
  width:250px;
  p {
    margin: 0px 0px 12px 0px;
  }
  padding: 30px;
}

.sticky-profile {
  position:sticky;
  top: 50px;
  height: 300px;
}

.details-card {
  padding: 20px 20px 15px 20px;
  p {
    margin: 0px 0px 12px 0px;
  }
  i {
    color: $my-orange;
  }
  line-height: 1;
}


.btn-show {
  color: white;
  padding: 8px 24px;
  background-color: $my-dark-blue;
  display: none;
  opacity: 0.8;
  height: 30px;
}

.btn-show:hover {
  background-color: $my-dark-blue;
  opacity: 1;
  cursor: pointer;
}


.collapse-header {
  h2 {
    font-size: 25px;
  }
  &:hover {
    .btn-show {
      display: flex;
      align-items: center;
    }
  }
}

