.sticky-profile {
  position:sticky;
  top: 50px;
  height: 300px;
}

.details-card {
  padding: 10px 20px 10px 20px;
  p {
    margin: 0px 0px 12px 0px;
  }
  margin-bottom: 10px
}

.skills-card {
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px
}


.profile-card {
  padding: 20px;
  display: flex;
  position: relative;
}

.profile-info {
  margin-left:20px;
  p {
    margin-right: 15px;
    color: $my-dark-blue;
  }
}

.profile-description {
  font-size: 14px;
}

.current-position {
  p {
    margin: 5px;
  }
}

.btn-show {
  color: white;
  padding: 8px 24px;
  background-color: $my-dark-blue;
  display: none;
  opacity: 0.8;
  height: 30px;
}

.btn-show:hover {
  background-color: $my-dark-blue;
  opacity: 1;
  cursor: pointer;
}


.expand-notice {
  color: gray;
  display: none;
}

.btn-show:hover {
  background-color: $my-dark-blue;
  opacity: 1;
  cursor: pointer;
}


.collapse-header {
  padding-top: 10px;
  padding-bottom: 10px;
  i {
    color: $my-orange;
  }
  h2 {
    font-size: 25px;
  }
  &:hover {
    cursor: pointer;
    .expand-notice {
      display: block;
    }
  }
}

.skill-new {
  text-decoration: none;
  font-size: 14px;
  padding-top: 5px;
  width: 110px;
  &:hover {
    cursor: pointer;
    color: $my-orange;
    }
}

.skill-new-cancel {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    color: $my-orange;
    }
}

.close-cross {
  text-decoration: none;
  font-size: 16px;
  margin-right: 3px;
  margin-top: 1px;
}

.close-text {
  text-decoration: none;
  font-size: 14px;
}

.skill-new-form-select {
  width:100px
}

.skill-new-form-container {
  display: none;
  justify-content: space-between;
}

.skill-new-container {
  height: 50px;
  padding: 12px 0px;
}

#new_skill_set {
  font-size: 14px;
  select {
    font-size: 14px;
    margin-right: 10px;
  }
  .btn-apply {
    padding: 5px 23px;
  }
}

