// Specific CSS for your home-page
.video {
  height: 100vh;
  width: 100%;
  display: flex;
  object-fit: cover;
  // position: absolute;
  // justify-content: center;
  // top: 0;
  z-index: -2;
}

.video-relative {
  position: relative;
  display: flex;
  justify-content: center;
}

.video-absolute-typed {
  position: absolute;
  top: 15vh;
  // margin: 0 auto;
  // justify-content: center;
  h1 {
    color: $my-orange;
    font-weight: bold;
  }
}

.video-absolute-title {
  position: absolute;
  top: 25vh;
  display: flex;
  text-align: center;
  h1 {
    // color: $my-light-blue;
    color: white;
    font-weight: bold;
  justify-content: center;
  }
}


.video-absolute-btn {
  position: absolute;
  bottom: 15vh;
  // margin: 0 auto;
  // justify-content: center;
}

#pts {
  height: calc(100vh);
}

#pts h1 {
  font-weight: 300;
}
