.booking-card {
  position: sticky;
  top: 100px;

}

.card-mini-profile {
  background-color: $light-gray;
  width: 300px;
}

// .cards-small {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 40px;
//   a {
//     text-decoration: none;
//     color: $gray;
//   }
// }

// .card-wrapper {
//   position: relative;
//   &:hover {
//     .card-tools {
//       display:block;
//     }
//   }
// }
