.details-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border: 1px solid rgb(230,230,230);
}

.card-mini-profile {
  // background-color: $my-white;
  text-align: center;
  width: 100px;
  // border-radius: 50%;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  cursor: pointer;
  // color: $gray !important;
  &:hover {
      transform: scale(1.05);
    }
}

.modal-manager {
  color: $medium-gray;
}

#user_walk_motivation {
  height: 160px;
  border-color: $medium-gray;
}

.modal-apply-submit {
  display: block;
  margin: 0 auto;
}


// .cards-small {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 40px;
//   a {
//     text-decoration: none;
//     color: $gray;
//   }
// }

// .card-wrapper {
//   position: relative;
//   &:hover {
//     .card-tools {
//       display:block;
//     }
//   }
// }
