.border-dark-blue {
  border-color: $my-dark-blue !important;
}

.border-gray {
  border-color: $gray !important;
}

.btn-details:hover {
  opacity: 1;
}

.btn-details {
  font-size: 16px;
  text-align: center;
  color: $my-orange;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  // border: 1px solid $my-orange;
  padding: 10px 5px;
  margin: 10px;
  transition: background 0.5s ease;
}

.btn-details:hover {
  text-decoration: underline;
}

#past-walks {
  color: $gray;
}

.status {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 10px 18px;
}
