.border-dark-blue {
  border-color: $my-dark-blue !important;
}

.border-gray {
  border-color: $gray !important;
}

.btn-details:hover {
  opacity: 1;
}

.btn-details {
  z-index: 20;
  font-size: 16px;
  text-align: center;
  color: $my-orange;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  // border: 1px solid $my-orange;
  padding: 10px 5px;
  margin: 10px;
  transition: background 0.5s ease;
}

.btn-details:hover {
  text-decoration: underline;
  cursor: pointer;
}

#past-walks {
  color: $gray;
}

.status {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 10px 18px;
}

.edit-icon {
  color: $my-orange;
  font-size:110%;
 }

.edit-icon:hover {
  font-size:120%;
  }

 .review-edit {
  position: absolute;
  z-index: 20;
 }

.swal-button {
  border-radius: 0px;
}

 .swal-button--confirm {
  background-color:$my-dark-blue;
  border: none;
  &:hover {
    background-color:$medium-gray !important;
  }
 }

 .swal-title {
  font-size: 22px;
  font-weight: 400;
 }

 .swal-footer {
  display: flex;
  justify-content: center;
 }

 #user_walk_review {
  height: 160px;
  border-color: $medium-gray;
}

.modal-review-submit {
  display: block;
  margin: 0 auto;
}
