
<div class="banner d-flex flex-column justify-content-between align-items-center">
  <div class="align-self-start">
    <%= render 'shared/navbar' %>
  </div>
  <div class="">
  <h1><span id="banner-typed-text"></span></h1>
  </div>
  <a href=""><div class="banner-button btn-apply">Start now !</div></a>
</div>

<div class="video-relative">
  <%= video_tag ["video_blond_xs.webm", "video_blond_xs.mp4"], autoplay: true, loop: true, muted: true, class: "video" %>
  <div class="video-absolute banner-button btn-apply">Start now !</div>
</div>
