<div class="card-homepage">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-homepage-infos">
    <h2>Walk's team</h2>
    <p>Walk's description</p>
  </div>
</div>
