<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container d-flex">
<div class="row">
<div class="col cards">
  
  <div class="card-homepage">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-homepage-infos">
      <div>
        <h2>My walk's team</h2>
        <p>My walk's description</p>
      </div>
    </div>
  </div>
</div>

  <div class="col cards">
  
  <div class="card-homepage">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-homepage-infos">
      <div>
        <h2>My walk's team</h2>
        <p>My walk's description</p>
      </div>
    </div>
  </div>
</div>

<div class="col cards">
  
  <div class="card-homepage">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-homepage-infos">
      <div>
        <h2>My walk's team</h2>
        <p>My walk's description</p>
      </div>
    </div>
  </div>
</div>

</div>

</div>
