<%= render "shared/banner" %>
<div class="container">
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt saepe dolor illo doloribus veniam, voluptatum accusamus explicabo. Eius atque hic vel repellat quo ratione ullam quas error animi. Est! </p>
</div>
