<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<div class="container d-flex p-3">
<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" class="rounded" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>

<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg" class="rounded">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>

<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" class="rounded" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>
