
<!-- First section : video banner -->
<div class="banner d-flex flex-column justify-content-between align-items-center">
  <div class="align-self-start">
    <%= render 'shared/navbar' %>
  </div>
  <div>
    <h1><span id="banner-typed-text"></span></h1>
  </div>
  <div>
    <a href="#pts" class="banner-link"><div class="banner-button btn-apply">Start now !</div></a>
  </div>
</div>

<!-- Second section : Pain Target Solution (id = pst) -->
<div class="container d-flex flex-column justify-content-center align-items-center pt-3" id="pts">
  <div class="text-center">
    <h1>Walk in my team helps you connecting with your colleagues for a more connected and more efficient company</h1>
  </div>
  <div class="pts-cards">
    <div class="pts-card">
      <h4>Find</h4>
      <p>Fill in your profile and let the app find you the best match !</p>
    </div>
    <div class="pts-card">
      <h4>Apply</h4>
      <p>Apply to the walks that fit the best your expectatives</p>
    </div>
    <div class="pts-card">
      <h4>Walk !</h4>
      <p>Walk in your colleague's team and learn more about your company !</p>
    </div>
  </div>
  <div>
    <a href="#walks" class="banner-link"><div class="banner-button btn-apply">Show me more</div></a>
  </div>
</div>

<!-- Third section : Walks examples (id = walks) -->
<div class="container d-flex flex-column pt-3" id="walks">
  <div class="row">
    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h2>My walk's team</h2>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fourth section : Testimonies (id = walks) -->
<div class="container d-flex p-3">
<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" class="rounded" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>

<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg" class="rounded">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>

<div class="row">
<div class="col cards">

  <div class="card">
    <div class="card-info">
      <div><img alt="Julien" class="rounded" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
        <div>Julien</div>
      </div>
    <div>
    </div>
  </div>
    
    <div class="card-description"> WIM allowed me to walk into another team and discover what my cubicule neighbors are working on ! We are having lunch once a week now ! Thank you !
    </div>
  </div>

</div>
</div>
