
<!-- First section : video banner -->
<div class="banner d-flex flex-column justify-content-between align-items-center">
  <div class="align-self-start" id="navbar-home">
    <%= render 'shared/navbar' %>
  </div>
  <div>
    <h1><span id="banner-typed-text"></span></h1>
  </div>
  <div>
    <a href="#pts" class="banner-link"><div class="banner-button btn-apply">Start now !</div></a>
  </div>
</div>

<!-- Second section : Pain Target Solution (id = pst) -->
<div class="container d-flex flex-column justify-content-center align-items-center pt-3" id="pts">
  <div class="text-center">
    <h1>WalkInMy.Team helps you connect with your colleagues<br/> for a more vibrant and efficient company</h1>
  </div>
  <div class="pts-cards">
    <div class="pts-card">
      <h3>Find</h3>
      <p>Fill in your profile and let the app suggest a great match!</p>
      <i class="fas fa-search"></i>
    </div>
    <div class="pts-card">
      <h3>Apply</h3>
      <p>Apply to the walks that best fit your expectations</p>
      <i class="fas fa-check"></i>
    </div>
    <div class="pts-card">
      <h3>Walk !</h3>
      <p>Walk in a new team and learn more about your company!</p>
      <i class="fas fa-walking"></i>
    </div>
  </div>
  <div>
    <a href="#video-home" class="banner-link"><div class="banner-button btn-apply">Show me more</div></a>
  </div>
</div>

<!-- Video -->
<div class="video-relative" id="video-home">
  <%= video_tag ["video_blond_xs.webm", "video_blond_xs.mp4"], autoplay: true, loop: true, muted: true, class: "video" %>
  <div class="video-absolute">
    <a href="#walks" class="banner-link"><div class="banner-button btn-apply">Start now !</div></a>
  </div>
</div>

<!-- Third section : Walks examples (id = walks) -->
<div class="container d-flex flex-column pt-3" id="walks">
  <div class="p-3">
  <h2>Our best walks</h2>
  </div>
  <div class="row">
    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h4>My walk's team</h4>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h4>My walk's team</h4>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col cards">

      <div class="card-homepage">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-homepage-infos">
          <div>
            <h4>My walk's team</h4>
            <p>My walk's description</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Fourth section : Testimonies (id = walks) -->
<div class="p-4">
  <h2>Walker's reviews</h2>
</div>

  <div class="row ">

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"WIM.T allowed me to discover what my cubicule neighbors are working on... And now we work together everyday!"</i></p>
        </div>
      </div>
    </div>

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"Great cross-knowledge experience. I have lunch with my welcoming team once a week now."</i></p>
        </div>
      </div>
    </div>

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"I discovered a whole new job through my one-week walk. Ready for a mobility now!"</i></p>
        </div>
      </div>
    </div>
  </div>

</div>


