.card-dashboard {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 27px;
}

.card-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-dashboard h3 {
  font-size: 14px;
  margin: 0;
}

.card-dashboard p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
  margin: 10px 0px 10px 0px;
  flex-grow: 1;
  .duration {
    color: $my-dark-blue;
    .fas {
      margin-right: 5px;
    }
  }

}

.card-dashboard .score {
  border-color: $my-dark-blue;
  border-style: solid;
  color: $my-orange;
  padding: 5px;
  font-size: 18px;
  border-radius: 50%;
}

.card-dashboard .location-apply {
  margin: 10px;
  padding: 16px;
  .location {
    color: $my-dark-blue;
    margin-bottom: 25px;
    .fas {
      margin-right: 5px;
    }
  }
}

.card-dashboard .location-status {
  margin: 10px;
  padding: 16px;
  width: 200px;
  .location {
    color: $my-dark-blue;
    margin-bottom: 25px;
    .fas {
      margin-right: 5px;
    }
  }
  .status {
    color: $my-dark-blue;
    margin-bottom: 25px;
    .fas {
      margin-right: 10px;
    }
  }
}

