.card-homepage {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
}

.card-homepage > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-homepage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-homepage p {
  opacity: .5;
  margin: 0;
}


.card-homepage .card-homepage-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

