.cards-walks {
  margin: 0px 100px 0px 100px;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.card-dashboard {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px 27px 0px;
  transition: all 0.3s ease;
  position: relative;
    &:hover {
    // transform: scale(1.002);
    // margin: 48px 0px 29px 0px;
    top: -2px;
    box-shadow: 2px 0 25px rgba(0,0,0,0.2);
  }
}

.card-dashboard-image {
  position: relative;
}

.card-dashboard h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 17px;
}

.card-dashboard h3 {
  font-size: 18px;
  margin: 0;
}

.card-dashboard-infos p {
  font-size: 14px;
  color: black;
  line-height: 1.4;
  margin: 10px 0px 10px 10px
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
  margin: 10px 0px 10px 0px;
  flex-grow: 1;
  .duration {
    color: $my-dark-blue;
    .fas {
      margin-right: 5px;
    }
  }

}

.card-dashboard .score {
  border-color: $my-dark-blue;
  border-style: solid;
  color: $my-orange;
  padding: 5px;
  font-size: 18px;
  border-radius: 50%;
}

.card-dashboard .location-apply {
  margin: 0px 10px 10px 10px;
  padding: 16px;
  .location {
    color: $my-dark-blue;
    margin-bottom: 15px;
    .fas {
      margin-right: 5px;
    }
  }
}

.card-dashboard .location-status {
  margin: 0px 10px 10px 10px;
  padding: 5px;
  width: 100px;
}

.application-status {
  position: absolute;
  top: 10px;
  left: 5px;
  margin: 0;
  padding: 0px 3px 0px 3px;
}

