.card-testimony {
  padding: 16px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  color: $gray;
}

.card-info {
  display: inline-block;
  font-size: 16px;
  color: $my-dark-blue;
}

.card-description {
  opacity: .5;
}

