.pts-card-image img {
  width: 180px;
  height: 120px;
  background-image: $my-white;
}

.pts-card p {
  height: 27%;
  opacity: .5;
}

.pts-card {
  width: 250px;
  height: 330px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin-left: 10px;
  margin-right: 10px;
  background: white;
}

.pts-cards {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
