#searchbar {
  background-color: $my-dark-blue;
  padding: 5px 10px;
}

#searchbar-container {
  transition: all 0.3s cubic-bezier(0.84, 0.36, 0.54, 0.5);
}

.searchcontainer {
  position: sticky !important;
  top: 60px !important;
  position: -webkit-sticky !important;
  z-index: 10;
}

.btn-search {
  text-align: center;
  color: $my-orange;
  // border: 1px solid $my-orange;
  width: 100px;
  background: $my-orange;
  color: white;
  transition: background 0.5s ease;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}

.search-field {
  border-radius: 0 !important;
  border: 1px solid $medium-gray;
  font-size: 14px;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




