.skill-card {
  display: inline-flex;
  margin-bottom: 6px;
  font-weight: 200;
  font-size: 14px;
  line-height: 1;
  border-radius: 14px;
  padding: 8px 10px;
  background-color: $my-dark-blue;
  color: white;
}

.skill-card-name {
}

.skill-card-delete {
  background-color: white;
  color: $my-dark-blue;
  padding: 0px 4px;
  margin-left: 10px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  padding-top: 2px;
  &:hover {
    cursor: pointer;
    background-color: $my-light-blue;
    // box-shadow: 0px 0px 0px 2px $my-light-blue;
    // i {
    //  color: $my-light-blue;
    // }
  }
}


// .skill-card-wrapper {
//   position: relative;
//   &:hover {
//     .skill-card {
//       border: 1px dashed $my-orange;
//       color: $my-orange;
//     }
//     .skill-card-tools {
//       display:block;
//     }
//   }
// }

.skill-card-tools {
  position: absolute;
  right: 60px;
  top: 5px;
  display: none;
  width: 45px;
  font-size: 18px;
}
