.skill-card {
  width: 80%;
  background-color: lig;
  padding: 9px;
  color: black;
  margin-right: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  border: 1px dashed black;
}

.skill-card-wrapper {
  width: 100%;
  position: relative;
  &:hover {
    .skill-card {
      border: 1px dashed $my-orange;
    }
    .skill-card-tools {
      display:block;
    }
  }
}

.skill-card-tools {
  position: absolute;
  right: 40px;
  top: 5px;
  display: none;
  width: 45px;
  font-size: 18px;
}
